<div>
    <ul>
        <li *ngFor="let user of users" >
            Prenom: {{ user.Prenom }}
            Nom: {{ user.Nom }}
        </li>
        
    </ul>
</div>
<app-nav></app-nav>
<app-menu></app-menu>



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="width: 140%;">
    <!-- Content Header (Page header) -->
    <div class="content-header ">
      <div class="container-fluid">
        <div class="row mb-2 container">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Bienvenue</h1>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content col-sm-16 ml-5">
      <div class="container-fluid">
   
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-7 connectedSortable">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <mat-icon>account_box</mat-icon> Liste des Utilisateurs

                </h3>
              
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="container">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource">
                      
                          <!-- Position Column -->
                          <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> ID </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="Prenom">
                            <th mat-header-cell *matHeaderCellDef> prenom </th>
                            <td mat-cell *matCellDef="let element"> {{element.Prenom}} </td>
                          </ng-container>
                    
                          <ng-container matColumnDef="Nom">
                            <th mat-header-cell *matHeaderCellDef> Nom </th>
                            <td mat-cell *matCellDef="let element"> {{element.Nom}} </td>
                          </ng-container>
                    
                          <ng-container matColumnDef="Email">
                            <th mat-header-cell *matHeaderCellDef> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
                          </ng-container>
                      
                          <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> username </th>
                            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                          </ng-container>
                    
                          <ng-container matColumnDef="profil">
                            <th mat-header-cell *matHeaderCellDef> Profil </th>
                            <td mat-cell *matCellDef="let element"> {{element.profil["Libelle"]}} </td>
                          </ng-container>
                      
                      
                      
                      
                       
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    
                      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                      </div>
                    </div> <br>
                    <a [routerLink]="['/login']">afficher les profils</a>
                  
                <div class="tab-content p-0">
                  <!-- Morris chart - Sales -->
                  <div class="chart tab-pane active" id="revenue-chart"
                       style="position: relative; height: 300px;">
                      <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>
                   </div>
                  <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                  </div>
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- DIRECT CHAT -->
            <div class="card direct-chat direct-chat-primary col order-12">
              <div class="card-header">
                <h3 class="card-title">Direct Chat</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" title="Contacts" data-widget="chat-pane-toggle">
                    <i class="fas fa-comments"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
               
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <form action="#" method="post">
                  <div class="input-group">
                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                      <button type="button" class="btn btn-primary">Send</button>
                    </span>
                  </div>
                </form>
              </div>
              <!-- /.card-footer-->
            </div>
            <!--/.direct-chat -->

          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
        
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>
  
